@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden; /*스크롤을 만들지 않을 것임 */
    color : rgb(29,29,31);
    letter-spacing: -0.05em; /*자간 설정*/
    background: white;
}
p {
    line-height: 1.6;
}

.global-nav{
    height : 44px;
}
.global-nav-links {
    display: flex; /*내용을 가로 정렬*/
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    height: 100% ;  /*텍스트 높이도 부모를 따라가도록 지정*/
    margin: 0 auto;/*중간정렬*/
}

