@charset 'utf-8';

html {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
}

body {
    overflow-x: hidden; /*스크롤을 만들지 않을 것임 */
    color : rgb(29,29,31);
    letter-spacing: -0.05em; /*자간 설정*/
    background: white;
}
p {
    line-height: 1.6;
}
a{
    color : rgb(29,29,31);
    text-decoration: none; /*기본 밑줄 제거*/
}

.global-nav{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  /*postion~width는 scene no. 계산시 메뉴 길이는 반영되지 않도록 하기 위함(공간차지 하지 않도록)*/
    height : 44px;
    padding: 0 1rem;
}
.local-nav{
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;  /*postion~width는 scene no. 계산시 메뉴 길이는 반영되지 않도록 하기 위함*/
    height: 52px;
    height: 52px;
        padding: 0 1rem;
    border-bottom: 1px solid #ddd;
}
.global-nav-links,
.local-nav-links {
    display: flex; /*내용을 가로 정렬*/
    align-items: center;
    max-width: 1000px;
    height: 100% ;  /*텍스트 높이도 부모를 따라가도록 지정*/
    margin: 0 auto;
}
.global-nav-links{
    justify-content: space-between; /*정렬을 균일 간격 정렬, fix start 등 있음*/
}
.local-nav-links .product-name{  /*.local~과 .product~를 붙히면 동작이 다르네..*/
    margin-right:auto; /*auto로 설정하면 마진을 모두 사용*/
    font-size: 1.4rem; /*부모 class에도 설정이 되어있으므로 우선순위 규칙을 고려해야 함*/
    font-weight: bold;
}
.local-nav-links a {
    font-size: 0.8rem;
}
.local-nav-links a:not(.product-name) {
    margin-left: 2em;
}
.scroll-section {
    padding-top: 50vh; /* 뷰포트 높이 (브라우저 창 높이)의 50% top padding 줌)*/
}
#scroll-section-0 h1 {
    font-size: 4rem;
    text-align: center;
}
.main-message {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 35vh;
    margin: 5px 0;
    height: 3em;
    font-size: 2.5rem;
    opacity: 0;
}
.main-message p {
    font-weight : bold;
    text-align: center;
    line-height: 1.2;
}
.main-message small {
    display: block;
    margin-bottom: 0.5em;
    font-size: 1.2rem;
}
#scroll-section2.main-message{
    font-size: 3.5rem;
}

.description {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem; /*상하0, 좌우1*/
    font-size : 1.2;
    color: #888;
}
.description strong {
    float: left ;
    /*em을 사용한 이유는 font 사이즈의 비율을 활용하기 위함, 이경우 2.5rem의 3배가 적용*/
    margin-right: 0.2em; /*font size 3rem의 0.2배*/
    font-size: 3rem; /*html 폰트 사이즈 14px*3*/
    color : rgb(29,29,31);
}
.desc-message {
    width : 50%;
    font-weight : bold;
}
.pin {
    width : 1px;
    height : 100px;
    background-color: rgb(29,29,31);
}
#scroll-section-2 .b {
    top: 10%;
    left: 40%;
}
#scroll-section-2 .c {
    top: 15%;
    left: 45%;
}

.mid-message{
    max-width: 1000px;
    margin: 0 auto;
    padding : 0 1rem;
    font-size: 2rem;
    color : #888;
}
.mid-message strong{
    color : rgb(29,29,31);
}
.canvas-caption{
    max-width: 1000px;
    margin: 0 auto;
    padding : 0 1rem;
    font-size: 1.2rem;
    color: #888;
}
.footer {
    display : flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    color : white;
    background-color : darkorange;
}
/* 위치 고정되어서 나오는 텍스트들에 대한 처리 (postion fixed로 처리) */
.sticky-elem {
    display: none; /*none 처리 한 후에 지정된 영역에서만 나오도록 처리*/
    position: fixed;     
    left: 0;
    width: 100%;
}
/* 각 영역(body)에서 특정 id를 가진 텍스트가 나올 수 있도록 묶어준다. */
#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem{
    display: block;
}

@media (min-width: 1024px){
    #scroll-section-0 h1 {
        font-size: 9vw;  /*뷰포트 사이즈*/
    }
    .main-message {
        font-size: 4vw;
    }
    .description {
        font-size: 2rem;
    }
    .description strong {
        font-size: 6rem;
    }
    #scroll-section-2 .main-message {
        font-size: 6vw;
    }
    .main-message small{
        font-size: 1.5vw;
    }
    .desc-message {
        width: 20%;
    }
    #scroll-section-2 .b {
        top: 20%;
        left: 53%;
    }
    #scroll-section-2 .c {
        left: 55%;
    }
    .mid-message {
        font-size: 4vw;
    }
    .canvas-caption {
        font-size: 2rem;
    }
}